@media (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}    

@media (max-width: 320px) {
    .place__title {
        width: calc(100% - 32px);
        text-align: left;
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px;
    }
}    

.place__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    max-width: 100%;
    padding: 0;
    margin: 0;
}