@media (max-width: 1024px) {
    .page {
        max-width: 1024px;
        }
}

@media (max-width: 768px) {
    .page {
    max-width: 768px;
    }
}   

@media (max-width: 320px) {
    .page {
    max-width: 320px;
    }
}    

.page {
    color: #fff;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #2A2C2F;
    font-family: 'Inter', 'Arial', sans-serif;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./vendor/fonts/InterWeb/Inter-Regular.woff2)format("woff2"),
         url(./vendor/fonts/InterWeb/Inter-Regular.woff)format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./vendor/fonts/InterWeb/Inter-Bold.woff2)format("woff2"),
         url(./vendor/fonts/InterWeb/Inter-Bold.woff)format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(./vendor/fonts/InterWeb/Inter-Black.woff2)format("woff2"),
         url(./vendor/fonts/InterWeb/Inter-Black.woff)format("woff");
}