@media (max-width: 1024px) {
    .intro {
        margin-left: 48px;
    }
} 

@media (max-width: 768px) {
    .intro {
        max-width: calc(100% - 48px);
        margin: 88px auto;
    }
}

@media (max-width: 320px) {
    .intro {
        max-width: calc(100% - 32px);
        margin: 56px auto 64px;
    }
}   

.intro {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    padding: 0;
    margin-top: 92px;
    margin-bottom: 92px;
    margin-left: 148px;
}