@media (max-width: 1024px) {
    .cover {
        max-width: 100%;
        object-fit: cover;
        margin-left: 0;
        margin-right: 0;
    }
}    

@media (max-width: 768px) {
    .cover {
        margin-top: 2px;
        margin-bottom: 0;
    }
}       

.cover {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - (48px * 2));
    margin: 92px auto;
    box-sizing: border-box;
}