@media (max-width: 750px) {
    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .footer {
    margin: 88px 24px 24px;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0px 48px 24px;
    color: #fff;
}