@media (max-width: 768px) {
    .place__url-heading {
    line-height: 12px;
    }
}

@media (max-width: 320px) {
    .place__url-heading {
        width: calc(100% - 32px);
        text-align: left;
        margin: 0 16px;
    }
}    

.place__url-heading {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    padding: 0;
    margin: 0;
    color: #AAAAAA;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.place:first-child .place__url-heading {
    line-height: 12px;
}

